<a href="{{ link }}" class="short-card__box {{ class }}">
  <div class="short-card__image-wrapper">
    {%- if image != blank -%}
      {{ image | image_url: width: 400 | image_tag: class: 'short-card__image' }}
    {%- else -%}
      {{ 'product-1' | placeholder_svg_tag: 'short-card__image' }}
    {%- endif -%}
  </div>
  <div class="short-card__text-wrapper">
    <h4 class="short-card__text">
      {{ title }}
    </h4>
    <h5 class="short-card__subtext">
      {{ subtext }}
    </h5>
  </div>
</a>

{% comment %} The css is save in utilis {% endcomment %}
