{{- 'header.css' | asset_url | stylesheet_tag -}}
{{- 'header-nav-desktop.css' | asset_url | stylesheet_tag -}}
{{- 'header-nav-mobile.css' | asset_url | stylesheet_tag -}}

<header class="header">
  <nav class="header__nav container relative">
    <div class="header__top">
      <span class="header__top--menu">{% render 'icon_menu', width: 28, height: 28, fill: '#000000' %}</span>
      <a href="/" class="header__top--logo">
        {%- if settings.logo != blank -%}
          <img width="170" height="auto" src="{{ settings.logo_id | image_url }}">
        {%- else -%}
          {{- shop.name | capitalize -}}
        {%- endif -%}
      </a>
      <form class="header__top--form">
        <span class="header__top--formIcon">
          {% render 'icon_search', width: 20, height: 20, fill: '#000000' %}
        </span>
        <input class="header__top--formInput" type="search" placeholder="Search for product or brands...">
      </form>
      <div class="header__top--localization">
        <img
          class="header__top--localizationImage"
          width="20"
          height="20"
          src="{{ 'usa.png' | asset_img_url: 'small' }}"
        >
        <span class="header__top--localizationText">Us. $</span>
        <span class="header__top--localizationIcon">
          {%- render 'icon_angle_small_down', width: '20', height: '20', fill: '#000000' -%}
        </span>
      </div>
      <div class="header__top--user">
        <span class="header__top--userIcon">
          {% render 'icon_circle_user', width: '24', height: '24', fill: '#000000' %}
        </span>
        <span class="header__top--userText">Sign in</span>
      </div>
      <div class="header__top--icons">
        <span class="header__top--iconsHeart">
          {%- render 'icon_heart', width: '24', height: '24', fill: '#000000' -%}
        </span>
        <span class="header__top--iconsBag">
          {%- render 'icon_shopping_bag', width: '24', height: '24', fill: '#000000' -%}
        </span>
      </div>
    </div>
    {% comment %} This is the desktop menu and it has it own css {% endcomment %}
    <ul class="header__bottom hidden">
     {% for link in section.settings.menu.links %}
        <li class="header__bottom--list">
          <a class="header__bottom__list-link" href="{{- link.url -}}">{{- link.title -}}</a>
          <div class="sub-menu">

          </div>
        </li>         
      {% endfor %}
    </ul>
    {% comment %} This is the mobile menu and it has it own css as well {% endcomment %}
     <ul class="header__mobile">
      <div class="header__mobile__IconClose">
        <span class="header__mobile__IconClose-span">
          {% render 'icon_close_circle', width: '36', height: '36' %}
        </span>
      </div>
     {% for link in section.settings.menu.links %}
        <li class="header__mobile--list">
          <div class="header__mobile--list-group">
            <a class="header__mobile--list-link" href="{{- link.url -}}">{{- link.title -}}</a>
            <span class="header__mobile--list-icon">{% render 'icon_angle_small_down', width:20 %}</span>
          </div>
          <div class="sub-menu">
            
          </div>
        </li>         
      {% endfor %}
    </ul>
  </nav>
</header>

{% schema %}
{ 
  "name": "Header", 
  "class": "header", 
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "Main menu",
      "info": "Header menu"
    },
  ], 
  "presets": [{ "name": "Header" }] 
}
{% endschema %}
