{{- 'header.css' | asset_url | stylesheet_tag -}}
{{- 'header-mobile-megamenu.css' | asset_url | stylesheet_tag -}}
{{- 'header-desktop-megamenu.css' | asset_url | stylesheet_tag -}}

<header class="header">
  <nav class="header__nav container">
    <!-- Top menu -->
    <div class="header__top">
      <div class="header__menu-logo">
        <div class="header__menu">
          <span class="header__menu--icon">
            {{ 'icon-hamburger-menu.svg' | inline_asset_content }}
          </span>
        </div>
        <a href="/" class="header__logo">
          {%- if settings.logo != blank -%}
            {{ settings.logo_id | image_url: width: 240 | image_tag: class: 'header__logo-img' }}
          {%- else -%}
            {{- shop.name | capitalize -}}
          {%- endif -%}
        </a>
      </div>
      <form class="header__form">
        <span class="header__form-icon">
          {{ 'icon-search.svg' | inline_asset_content }}
        </span>
        <input class="header__form-input" type="search" placeholder="Search for product or brands...">
      </form>
      <div class="header__icons">
        <div class="header__localization">
          <img
            class="header__localization-image"
            width="20"
            height="20"
            src="{{ 'usa.png' | asset_img_url: 'small' }}"
          >
          <span class="header__localization-text">Us</span>
          <span class="header__localization-icon">
            {{ 'icon-arrow-down.svg' | inline_asset_content }}
          </span>
        </div>
        <div class="header__user">
          <span class="header__user-icon">
            {{ 'icon-user.svg' | inline_asset_content }}
          </span>
          <span class="header__user-text">Sign in</span>
        </div>
        <span class="header__icon header__icon--heart">
          {{ 'icon-heart.svg' | inline_asset_content }}
        </span>
        <span class="header__icon header__icon--cart">
          {{ 'icon-shopping-cart.svg' | inline_asset_content }}
        </span>
      </div>
    </div>
    <!-- End Top menu -->
    {%- if section.settings.menu.size > 0 -%}
      <div class="header__bottom-mobile">
        {% # Step 1: Top-level mobile menu %}
        <div id="level-1-wrapper" class="menu-slide slide-default">
          <span class="menu-slide__close">
            {{ 'icon-close.svg' | inline_asset_content }}
          </span>
          <ul class="mobile-menu__level-1">
            {% for menu in section.settings.menu.links %}
              <li class="mobile-menu__item">
                {%- if menu.levels == 0 -%}
                  <a href="{{ menu.url }}">
                    {{- menu.title -}}
                  </a>
                {%- else -%}
                  <span>
                    {{- menu.title -}}
                  </span>
                  <span data-menu-id="{{ menu.title }}" class="mobile-menu__icon">
                    {{ 'icon-arrow-right.svg' | inline_asset_content }}
                  </span>
                {%- endif -%}
              </li>
            {% endfor %}
          </ul>
          {% # Persistent footer menu %}
          {% render 'persistent-menu-footer' %}
        </div>
        {% # Step 2: Submenu (Level 2) %}
        <div id="level-2-wrapper" class="menu-slide slide-default-level-2">
          <ul class="mobile-menu__level-2">
            <div class="mobile-menu__level-2-header">
              <span class="mobile-menu__back-icon">
                {{ 'icon-long-arrow.svg' | inline_asset_content }}
              </span>
              <span class="mobile-menu__section-title">Men</span>
            </div>
            <div>
              {% for menu in section.settings.menu.links %}
                {% for submenu in menu.links %}
                  <div class="mobile-submenu">
                    <div class="mobile-submenu__header">
                      <a href="{{ submenu.url }}" class="mobile-submenu__title">
                        {{ submenu.title }}
                      </a>
                      {%- if submenu.levels > 0 -%}
                        <div class="mobile-submenu__toggle-icons">
                          <span class="icon-plus">
                            {{ 'icon-plus.svg' | inline_asset_content }}
                          </span>
                          <span class="icon-minus">
                            {{ 'icon-minus.svg' | inline_asset_content }}
                          </span>
                        </div>
                      {%- endif -%}
                    </div>
                    <!-- level 3 -->
                    {%- if submenu.levels > 0 -%}
                      <div class="mobile-submenu__list">
                        <a href="#">Sign up</a>
                        <a href="#">Sign up</a>
                        <a href="#">Sign up</a>
                        <a href="#">Sign up</a>
                        <a href="#">Sign up</a>
                        <a href="#">Sign up</a>
                      </div>
                    {%- endif -%}
                  </div>
                {% endfor %}
              {% endfor %}
              <div class="mobile-menu__cta">
                <a>Shop All Mens</a>
              </div>
            </div>
          </ul>
          {% # Persistent footer menu %}
          {% render 'persistent-menu-footer' %}
        </div>
      </div>
      {% # This menu for the Desktop version %}
      <div class="header__bottom-desktop">
        <ul class="header__menu">
          {% for menuDesktop in section.settings.menu.links %}
            <li class="header__menu-list">
              <a
                {% if forloop.last %}
                  style="color:red"
                {% endif %}
                style=""
                class="header__menu-link"
                href="{{- menuDesktop.url -}}"
              >
                {{- menuDesktop.title -}}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    {%- else -%}
      <div class="header__bottom-mobile">
        {% # Step 1: Top-level mobile menu %}
        <div id="level-1-wrapper" class="menu-slide slide-default">
          {% # Close level one %}
          <span class="menu-slide__close">
            {{ 'icon-close.svg' | inline_asset_content }}
          </span>
          <ul class="mobile-menu__level-1">
            {% for item in (1..15) %}
              <li class="mobile-menu__item">
                <a href="#">Home</a>
                <span class="mobile-menu__icon">{{ 'icon-arrow-right.svg' | inline_asset_content }}</span>
              </li>
            {% endfor %}
          </ul>
          {% # Persistent footer menu %}
          {% render 'persistent-menu-footer' %}
        </div>
        {% # Step 2: Submenu (Level 2) %}
        <div id="level-2-wrapper" class="menu-slide slide-default-level-2">
          <ul class="mobile-menu__level-2">
            <div class="mobile-menu__level-2-header">
              <span class="mobile-menu__back-icon">
                {{ 'icon-long-arrow.svg' | inline_asset_content }}
              </span>
              <span class="mobile-menu__section-title">Men</span>
            </div>
            <div>
              {% for item in (1..5) %}
                <div class="mobile-submenu">
                  <div class="mobile-submenu__header">
                    <a class="mobile-submenu__title">Sign in</a>
                    <div class="mobile-submenu__toggle-icons">
                      <span class="icon-plus">
                        {{ 'icon-plus.svg' | inline_asset_content }}
                      </span>
                      <span class="icon-minus">
                        {{ 'icon-minus.svg' | inline_asset_content }}
                      </span>
                    </div>
                  </div>
                  <div class="mobile-submenu__list">
                    <a href="#">Sign up</a>
                    <a href="#">Sign up</a>
                    <a href="#">Sign up</a>
                    <a href="#">Sign up</a>
                    <a href="#">Sign up</a>
                    <a href="#">Sign up</a>
                  </div>
                </div>
              {% endfor %}
              <div class="mobile-menu__cta">
                <a>Shop All Mens</a>
              </div>
            </div>
          </ul>
          {% # Persistent footer menu %}
          {% render 'persistent-menu-footer' %}
        </div>
      </div>
      {% # This menu for the Desktop version %}
      <div class="header__bottom-desktop">
        <ul class="header__menu">
          {% for item in (1..14) %}
            <li class="header__menu-list">
              <a class="header__menu-link" href="">Menu {{ forloop.index }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    {%- endif -%}
  </nav>
</header>

{% comment %} Desktop Dropdown Mega menu {% endcomment %}

{% comment %}
  <section class="sub-menu">
    <div class="sub-menu__wrapper container">
      <div class="sub-menu__dropdown">
        <div class="sub-menu__dropdown--title-group">
          <h4 class="sub-menu__dropdown--title">Featured Brands1</h4>
          <span>{% render 'plus', width: '20', height: '20' %}</span>
        </div>
        <div class="sub-menu__dropdown--desc-group sub-menuHide">
          <p class="sub-menu__dropdown--desc">
            <a href="" class="sub-menu__dropdown--desc--link">Cartie1</a>
          </p>
          <p class="sub-menu__dropdown--desc">
            <a href="" class="sub-menu__dropdown--desc--link">Citizen1</a>
          </p>
          <p class="sub-menu__dropdown--desc">
            <a href="" class="sub-menu__dropdown--desc--link">Fossil</a>
          </p>
          <p class="sub-menu__dropdown--desc">
            <a href="" class="sub-menu__dropdown--desc--link">Gucci</a>
          </p>
          <p class="sub-menu__dropdown--desc">
            <a href="" class="sub-menu__dropdown--desc--link">Invicta</a>
          </p>
          <p class="sub-menu__dropdown--desc">
            <a href="" class="sub-menu__dropdown--desc--link">Montblanc</a>
          </p>
          <p class="sub-menu__dropdown--desc">
            <a href="" class="sub-menu__dropdown--desc--link">Rolex</a>
          </p>
          <p class="sub-menu__dropdown--desc">
            <a href="" class="sub-menu__dropdown--desc--link">Seiko</a>
          </p>
          <p class="sub-menu__dropdown--desc">
            <a href="" class="sub-menu__dropdown--desc--link">Tissot</a>
          </p>
          <p class="sub-menu__dropdown--desc">
            <a href="" class="sub-menu__dropdown--desc">View All Brands</a>
          </p>
        </div>
      </div>
      <div class="sub-menu__dropdown">
        <div>
          <div class="sub-menu__dropdown--title-group">
            <h4 class="sub-menu__dropdown--title">Featured Brands2</h4>
            <span>{% render 'plus', width: '20', height: '20' %}</span>
          </div>
          <div class="sub-menu__dropdown--desc-group sub-menuHide">
            <p class="sub-menu__dropdown--desc">
              <a href="" class="sub-menu__dropdown--desc--link">Cartie2</a>
            </p>
            <p class="sub-menu__dropdown--desc">
              <a href="" class="sub-menu__dropdown--desc--link">Citizen2</a>
            </p>
            <p class="sub-menu__dropdown--desc">
              <a href="" class="sub-menu__dropdown--desc--link">Fossil</a>
            </p>
            <p class="sub-menu__dropdown--desc">
              <a href="" class="sub-menu__dropdown--desc--link">Gucci</a>
            </p>
            <p class="sub-menu__dropdown--desc">
              <a href="" class="sub-menu__dropdown--desc--link">Invicta</a>
            </p>
          </div>
        </div>
        <div>
          <div class="sub-menu__dropdown--title-group">
            <h4 class="sub-menu__dropdown--title">Featured Brands3</h4>
            <span>{% render 'plus', width: '20', height: '20' %}</span>
          </div>
          <div class="sub-menu__dropdown--desc-group sub-menuHide">
            <p class="sub-menu__dropdown--desc">
              <a href="" class="sub-menu__dropdown--desc--link">Cartie3</a>
            </p>
            <p class="sub-menu__dropdown--desc">
              <a href="" class="sub-menu__dropdown--desc--link">Citizen3</a>
            </p>
            <p class="sub-menu__dropdown--desc">
              <a href="" class="sub-menu__dropdown--desc--link">Fossil</a>
            </p>
            <p class="sub-menu__dropdown--desc">
              <a href="" class="sub-menu__dropdown--desc--link">Gucci</a>
            </p>
            <p class="sub-menu__dropdown--desc">
              <a href="" class="sub-menu__dropdown--desc--link">Invicta</a>
            </p>
          </div>
        </div>
      </div>
      <div class="sub-menu__dropdown">
        <div>
          <div class="sub-menu__dropdown--title-group">
            <h4 class="sub-menu__dropdown--title">Featured Brands2</h4>
            <span>{% render 'plus', width: '20', height: '20' %}</span>
          </div>
          <div class="sub-menu__dropdown--desc-group sub-menuHide">
            <p class="sub-menu__dropdown--desc">
              <a href="" class="sub-menu__dropdown--desc--link">Cartie2</a>
            </p>
            <p class="sub-menu__dropdown--desc">
              <a href="" class="sub-menu__dropdown--desc--link">Citizen2</a>
            </p>
            <p class="sub-menu__dropdown--desc">
              <a href="" class="sub-menu__dropdown--desc--link">Fossil</a>
            </p>
            <p class="sub-menu__dropdown--desc">
              <a href="" class="sub-menu__dropdown--desc--link">Gucci</a>
            </p>
            <p class="sub-menu__dropdown--desc">
              <a href="" class="sub-menu__dropdown--desc--link">Invicta</a>
            </p>
          </div>
        </div>
        <div>
          <div class="sub-menu__dropdown--title-group">
            <h4 class="sub-menu__dropdown--title">Featured Brands3</h4>
            <span>{% render 'plus', width: '20', height: '20' %}</span>
          </div>
          <div class="sub-menu__dropdown--desc-group sub-menuHide">
            <p class="sub-menu__dropdown--desc">
              <a href="" class="sub-menu__dropdown--desc--link">Cartie3</a>
            </p>
            <p class="sub-menu__dropdown--desc">
              <a href="" class="sub-menu__dropdown--desc--link">Citizen3</a>
            </p>
            <p class="sub-menu__dropdown--desc">
              <a href="" class="sub-menu__dropdown--desc--link">Fossil</a>
            </p>
            <p class="sub-menu__dropdown--desc">
              <a href="" class="sub-menu__dropdown--desc--link">Gucci</a>
            </p>
            <p class="sub-menu__dropdown--desc">
              <a href="" class="sub-menu__dropdown--desc--link">Invicta</a>
            </p>
          </div>
        </div>
      </div>
      <div class="sub-menu__dropdown">
        <div>
          <div class="sub-menu__dropdown--title-group">
            <h4 class="sub-menu__dropdown--title">Featured Brands2</h4>
            <span>{% render 'plus', width: '20', height: '20' %}</span>
          </div>
          <div class="sub-menu__dropdown--desc-group sub-menuHide">
            <p class="sub-menu__dropdown--desc">
              <a href="" class="sub-menu__dropdown--desc--link">Cartie2</a>
            </p>
            <p class="sub-menu__dropdown--desc">
              <a href="" class="sub-menu__dropdown--desc--link">Citizen2</a>
            </p>
            <p class="sub-menu__dropdown--desc">
              <a href="" class="sub-menu__dropdown--desc--link">Fossil</a>
            </p>
            <p class="sub-menu__dropdown--desc">
              <a href="" class="sub-menu__dropdown--desc--link">Gucci</a>
            </p>
            <p class="sub-menu__dropdown--desc">
              <a href="" class="sub-menu__dropdown--desc--link">Invicta</a>
            </p>
          </div>
        </div>
        <div>
          <div class="sub-menu__dropdown--title-group">
            <h4 class="sub-menu__dropdown--title">Featured Brands3</h4>
            <span>{% render 'plus', width: '20', height: '20' %}</span>
          </div>
          <div class="sub-menu__dropdown--desc-group sub-menuHide">
            <p class="sub-menu__dropdown--desc">
              <a href="" class="sub-menu__dropdown--desc--link">Cartie3</a>
            </p>
            <p class="sub-menu__dropdown--desc">
              <a href="" class="sub-menu__dropdown--desc--link">Citizen3</a>
            </p>
            <p class="sub-menu__dropdown--desc">
              <a href="" class="sub-menu__dropdown--desc--link">Fossil</a>
            </p>
            <p class="sub-menu__dropdown--desc">
              <a href="" class="sub-menu__dropdown--desc--link">Gucci</a>
            </p>
            <p class="sub-menu__dropdown--desc">
              <a href="" class="sub-menu__dropdown--desc--link">Invicta</a>
            </p>
          </div>
        </div>
      </div>
      <div class="sub-menu__dropdown">
        <div>
          <div class="sub-menu__dropdown--title-group">
            <h4 class="sub-menu__dropdown--title">Featured Brands2</h4>
            <span>{% render 'plus', width: '20', height: '20' %}</span>
          </div>
          <div class="sub-menu__dropdown--desc-group sub-menuHide">
            <p class="sub-menu__dropdown--desc">
              <a href="" class="sub-menu__dropdown--desc--link">Cartie2</a>
            </p>
            <p class="sub-menu__dropdown--desc">
              <a href="" class="sub-menu__dropdown--desc--link">Citizen2</a>
            </p>
            <p class="sub-menu__dropdown--desc">
              <a href="" class="sub-menu__dropdown--desc--link">Fossil</a>
            </p>
            <p class="sub-menu__dropdown--desc">
              <a href="" class="sub-menu__dropdown--desc--link">Gucci</a>
            </p>
            <p class="sub-menu__dropdown--desc">
              <a href="" class="sub-menu__dropdown--desc--link">Invicta</a>
            </p>
          </div>
        </div>
        <div>
          <div class="sub-menu__dropdown--title-group">
            <h4 class="sub-menu__dropdown--title">Featured Brands3</h4>
            <span>{% render 'plus', width: '20', height: '20' %}</span>
          </div>
          <div class="sub-menu__dropdown--desc-group sub-menuHide">
            <p class="sub-menu__dropdown--desc">
              <a href="" class="sub-menu__dropdown--desc--link">Cartie3</a>
            </p>
            <p class="sub-menu__dropdown--desc">
              <a href="" class="sub-menu__dropdown--desc--link">Citizen3</a>
            </p>
            <p class="sub-menu__dropdown--desc">
              <a href="" class="sub-menu__dropdown--desc--link">Fossil</a>
            </p>
            <p class="sub-menu__dropdown--desc">
              <a href="" class="sub-menu__dropdown--desc--link">Gucci</a>
            </p>
            <p class="sub-menu__dropdown--desc">
              <a href="" class="sub-menu__dropdown--desc--link">Invicta</a>
            </p>
          </div>
        </div>
      </div>
      {% comment %} img {% endcomment %}
      <div class="sub-menu__dropdown">
        <div class="sub-menu__dropdown-img">
          <img width="250px" height="auto" src="{{ 'mens.jpg' | asset_url  }}">
        </div>
        <div>
          <p class="sub-menu__dropdown--desc">
            <a href="" class="sub-menu__dropdown--desc--link">Invicta</a>
          </p>
        </div>
      </div>
    </div>
  </section>
{% endcomment %}

{% schema %}
{
  "name": "Header",
  "class": "header",
  "enabled_on": {
    "groups": ["header"]
  },
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "Main menu",
      "info": "Header menu"
    }
  ],
  "presets": [{ "name": "Header" }]
}
{% endschema %}
