{{ 'promotion-header.css' | asset_url | stylesheet_tag }}

<section class="promotion_header">
  <div
    style="background-color: {{ section.settings.promotion_header_bg_color }}"
    class="promotion_header__wrapper container"
  >
    <div class="promotion_header__card">
      {% # Image on large screen %}
      <div class="promotion_header__image">
        {%- if section.settings.promotion_header_image != blank -%}
          {{ section.settings.promotion_header_image | image_url: width: 100 | image_tag: class: 'promotion_header__image__img' }}
        {%- endif -%}
      </div>
      {% # Text %}
      <h4 style="color: {{ section.settings.promotion_header_text_color }}; text-transform: {{ section.settings.promotion_header_text_transform }}" class="promotion_header__text">
        Mother's day: Up to 75% off
      </h4>
      {% # Text with link %}
      <a
        style="color: {{ section.settings.promotion_header_text_color }}; text-transform: {{ section.settings.promotion_header_text_transform }}""
        class="promotion_header__link"
        href="{{ section.settings.promotion_header_button_url }}"
      >
        {{ section.settings.promotion_header_button_text }}
      </a>
    </div>    
  </div>
</section>

{% schema %}
{
  "name": "Promotion Header",
  "class": "promotion_header",
  "enabled_on": {
    "groups": ["header"]
  },
  "settings": [
    {
      "type": "header",
      "content": "Image promotion on Desktop"
    },
    {
      "type": "image_picker",
      "id": "promotion_header_image",
      "label": "Image"
    },
    {
      "type": "header",
      "content": "Color promotion"
    },
    {
      "type": "color",
      "id": "promotion_header_bg_color",
      "label": "Background color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "promotion_header_text_color",
      "label": "Text color",
      "default": "#ffffff"
    },
    {
      "type": "header",
      "content": "Text promotion"
    },
    {
      "type": "text",
      "id": "promotion_header_text",
      "label": "Text",
      "default": "Mother's day: Up to 75% off"
    },
    {
      "type": "header",
      "content": "Button Text and link promotion"
    },
    {
      "type": "text",
      "id": "promotion_header_button_text",
      "label": "CTA Text",
      "default": "Shop now"
    },
    {
      "type": "url",
      "id": "promotion_header_button_url",
      "label": "CTA Url"
    },
    {
      "type": "header",
      "content": "Text transform"
    },
    {
      "type": "select",
      "label": "Text Transform",
      "id": "promotion_header_text_transform",
      "options": [
        {
          "value": "uppercase",
          "label": "Uppercase"
        },
        {
          "value": "lowercase",
          "label": "Lowercase"
        },
        {
          "value": "capitalize",
          "label": "Capitalize"
        }
      ],
      "default": "lowercase"
    }
  ],
  "presets": [
    {
      "name": "Promotion Header",
      "settings": {
        "promotion_header_bg_color": "#000000",
        "promotion_header_text_color": "#ffffff",
        "promotion_header_text": "Mother's day: Up to 75% off",
        "promotion_header_button_text": "Shop now",
        "promotion_header_button_url": "",
        "promotion_header_text_transform": "lowercase"
      }
    }
  ]
}
{% endschema %}
